:root{
    --primary-color: #21272b;
    --bg-color: #1a62e9;
    --main-font: "Roboto", serif;
    --color-white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--main-font);
    color: var(--primary-color);
}

img{
    max-width: 100%;
}

/* UTILS */
.container{
    max-width: 1100px;
    margin: 0 auto;
}

.row{
    display: flex;
}

.d-flex{
    display: flex;
}

.debug{
    background-color: aquamarine;
    border: 1px solid black;
}
.col{
    min-height: 300px;
}

.img-col{
    width: 60%;
}
.text-col{
    width: 40%;
}
.bg-grey{
    background-color: #F6F6F6;
}
.btn{
    color: var(--primary-color);
    background-color: var(--color-white);
    padding: 7px 12px;
    border-radius: 15px;
    text-decoration: none;
    font-size: .9rem;
}
.btn:hover{
    opacity: .9;
}

/* HEADER */
.header-top{
    height: 94px;
    background-color: var(--bg-color);
}
.header-top .container{
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.header-top ul{
    list-style: none;
}
.header-top ul li{
    display: inline-block;
    margin: 0 20px;
}
.header-top ul li a{
    color: white;
    text-decoration: none;
}

.header-top ul li a:hover{
    text-decoration: underline;
}

#jumbotron{
    justify-content: center;
    align-items: center;
    min-height: 630px;
}

#jumbotron .content-box{
    max-width: 800px;
    min-height: 300px;
  
}

/* MAIN */

main section{
    padding: 150px 0;
}

#tecnologia{
    text-align: center;
}

#tecnologia .container > div{
    min-height: 180px;
}



/* FOOTER */

footer{
    background-color: #21272b;
    color: white;
    padding: 90px 0;
}

footer a{
    color: white;
}

.footer-top{
    min-height: 450px;
}

.footer-top .container .social{
    width: 250px;
}

.footer-top .container .menu{
    width: calc(100% - 280px);
}

.footer-top .container .menu{
    justify-content: space-around;
}

.footer-bottom .row{
    justify-content: space-between;
}

.footer-bottom .container{
    justify-content: space-between;
}